-r requirements.txt
anyio
autoflake
bandit
black
flake8
coverage
Flake8-pyproject
flake8-bugbear
flake8-cognitive-complexity
httpx
isort
pip-audit
pre-commit
pytest
pytype; platform_system != 'Windows'
pytest-cov
safety
